<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.Application">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- this line adds the required permission request -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ANIMO ShOn"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Draft1"
        tools:replace="android:theme,android:label">

        <activity android:name="com.example.Application.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.Application.Register"
            android:label="Register" >
        </activity>
        <activity
            android:name="com.example.Application.Login"
            android:label="Login" >
        </activity>
        <activity
            android:name="com.example.Application.MainMenu"
            android:label="Main Menu" >
        </activity>
        <activity
            android:name="com.example.Application.Likes"
            android:label="Likes" >
        </activity>
        <activity
            android:name="com.example.Application.Purchases"
            android:label="Purchases" >
        </activity>
        <activity
            android:name="com.example.Application.Me"
            android:label="Me" >
        </activity>
        <activity
            android:name="com.example.Application.CartActivity"
            android:label="Shopping Cart" >
        </activity>
        <activity
            android:name="com.example.Application.AdminMenu"
            android:label="Admin Menu" >
        </activity>
        <activity
            android:name="com.example.Application.Item"
            android:label="View Item" >
        </activity>
    </application>

</manifest>