<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.Application">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ANIMO ShOn"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Draft1"
        tools:replace="android:theme,android:label">
        <activity android:name=".AdminNewOrdersActivity"></activity>
        <activity android:name=".ProfileActivity" />
        <activity android:name=".ConfirmFinalOrderActivity" />
        <activity android:name=".SearchProductActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:label="Register" />
        <activity
            android:name=".Login"
            android:label="Login" />
        <activity
            android:name=".MainMenu"
            android:label="Main Menu" />
        <activity
            android:name=".Likes"
            android:label="Likes" />
        <activity
            android:name=".Purchases"
            android:label="Purchases" />
        <activity
            android:name=".Me"
            android:label="Me" />
        <activity
            android:name=".CartActivity"
            android:label="Shopping Cart" />
        <activity
            android:name=".AdminMenu"
            android:label="Admin Menu" />
        <activity
            android:name=".Item"
            android:label="View Item" />
    </application>

</manifest>